body, html {
    height: 100%;
}

body {
  background-image: url("../assets/blackboard5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Overlock', cursive;
  color: white;
}
